<a class="tooltipped btn-floating btn-large <%= color %>" data-position="left" data-delay="50" data-tooltip="<%= name %>" <% if(href) { %> target="_self" href="<%= href %>" <% } %>>
    <i class="material-icons"><%= icon %></i>
</a>
